<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="ClkLogReceiver" packages="">
    <Properties>
        <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Properties>
    <Appenders>
        <RollingFile name="CLKLOG-RECEIVER" fileName="log/receiver-server.log"
                     filePattern="log/receiver-server-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <RollingFile name="CLKLOG-STORE" fileName="log/store.log"
                     filePattern="log/store-%d{yyyyMMdd}.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.zcunsoft.store" level="info" additivity="false">
            <appender-ref ref="CLKLOG-STORE" level="info"/>
        </AsyncLogger>
        <AsyncLogger name="com.zcunsoft" level="info" additivity="false">
            <appender-ref ref="CLKLOG-RECEIVER"/>
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="CLKLOG-RECEIVER"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>